<div class="panel-body">
  <%= form_for(setup_custom_field(custom_field)) do |f| %>
    <% if custom_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(custom_field.errors.count, t('labels.error', count: custom_field.errors.count))}: #{t('messages.error')}" %></h2>

      <ul>
        <% custom_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <div class="form-group form-group-sm">
      <%= f.label :label %>
      <%= f.text_field :label, class: 'form-control' %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :type_id %>
      <%= f.collection_select :type_id, @type_all, :id, :value, {}, class: 'form-control' %>
    </div>

    <div id="custom_field_options_id" class="form-group form-group-sm">
      <%= f.fields_for :options do |option| %>
        <%= render 'option_fields', :f => option %>
      <% end %>
      <%= link_to_add_association "#{t('buttons.add')} #{Option.model_name.human(count: 2)}", f, :options, class: 'btn btn-sm btn-default' %>
    </div>

    <div class="panel-footer">
      <%= f.submit t('buttons.save'), class: 'btn btn-sm btn-primary' %>
      <%= link_to t('buttons.cancel'), custom_fields_path, class: 'btn btn-sm btn-default' %>
    </div>
  <% end %>
</div>
