<%= form_for(setup_contact(contact)) do |f| %>
<div class="panel-body">
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(contact.errors.count, t('labels.error', count: contact.errors.count))}: #{t('messages.error')}" %></h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.fields_for :contact_custom_fields do |ccf| %>
      <%= render 'contact_custom_fields', :f => ccf %>
    <% end %>
  </div>
</div>
<div class="panel-footer">
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
  <%= link_to t('buttons.back'), contacts_path, class: 'btn btn-default' %>
</div>
<% end %>
